<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu de Opções</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding: 20px;
        }

        .content {
            margin-top: 20px;
        }

        .button-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }

        .btn-option {
            width: 200px;
            font-size: 16px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="content">
            <h2>Programa de Pós-Graduação - Tela Orientador</h2>
            <div class="button-container">
                <button class="btn btn-secondary btn-option" id="btnRelatoriosRecebidos">Relatórios Recebidos</button>
                <button class="btn btn-info btn-option" id="btnDados">Dados</button>
                <button class="btn btn-danger btn-option" id="btnSair">Sair</button>
            </div>
        </div>
    </div>

    <script>
        // Extrai o ID da URL atual
        const urlPath = window.location.pathname;
        const nusp = urlPath.split('/').pop();  // Último segmento da URL

        // Adiciona o `relatorio_id` nas rotas dos botões
        document.getElementById("btnRelatoriosRecebidos").addEventListener("click", function() {
            window.location.href = `/tabela_relatorios`;
        });

    </script>

    <!-- Bootstrap JS Bundle (inclui Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
