<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Alunos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <style>
        /* Estilo para linhas com baixo desempenho */
        .baixo-desempenho {
            color: red;
        }

        tr {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2 class="mt-5">Alunos cadastrados</h2>

        <div id="tabelaRelatorios" class="mt-5">
            <table class="table table-striped" id="relatoriosTable">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Nº USP</th>
                        <th>E-mail</th>
                        <th>Lattes</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <th><input type="text" placeholder="Filtrar Nome" /></th>
                        <th><input type="text" placeholder="Filtrar Nº USP" /></th>
                        <th><input type="text" placeholder="Filtrar E-Mail" /></th>
                        <th><input type="text" placeholder="Filtrar Lattes" /></th>
                        <th><input type="text" placeholder="Filtrar Status" /></th>
                    </tr>
                </thead>
                <tbody id="tabelaBody">
                </tbody>
            </table>
        </div>

        <!-- Disclaimer -->
        <p class="text-danger mt-3">
            <strong>Nota:</strong> Alunos com o nome destacado em vermelho apresentam desempenho abaixo da média. Recomenda-se avaliar o desligamento desses alunos.
        </p>
    </div>

    <script>
        // URL base para redirecionamento
        const detalheUrlBase = "/alunos/detalhes/";

        fetch(`/ccp/alunos`)
            .then(response => response.json())
            .then(data => {
                const tabelaBody = document.getElementById('tabelaBody');

                // Limpa a tabela antes de inserir novos dados
                tabelaBody.innerHTML = '';

                // Itera sobre os alunos retornados e cria as linhas da tabela
                data.dados_aluno.forEach(aluno => {
                    const row = document.createElement('tr');

                    // Verifica se o aluno tem baixo desempenho
                    const baixoDesempenho = aluno.baixo_desempenho;

                    // Adiciona a classe 'baixo-desempenho' se necessário
                    if (baixoDesempenho) {
                        row.classList.add('baixo-desempenho');
                    }

                    row.innerHTML = `
                        <td>${aluno.nome}</td>
                        <td>${aluno.nusp}</td>
                        <td>${aluno.email}</td>
                        <td>${aluno.lattes}</td>
                        <td>${aluno.status_aluno}</td>
                    `;

                    row.addEventListener('click', function() {
                        const url = "{{ url_for('ccp.detalhes_aluno', nusp='') }}" + aluno.nusp;
                        window.location.href = url;
                    });

                    tabelaBody.appendChild(row);
                });

                // Inicializa o DataTable
                const dataTable = $('#relatoriosTable').DataTable({
                    "order": [[0, "asc"]], // Ajuste a coluna de ordenação conforme necessário
                    "paging": true, // Habilita paginação
                    "searching": true, // Habilita o campo de busca
                    "info": true // Exibe informações de paginação
                });

                // Configura os filtros nas colunas
                $('#relatoriosTable thead tr:eq(1) th').each(function (i) {
                    $('input', this).on('keyup change', function () {
                        if (dataTable.column(i).search() !== this.value) {
                            dataTable
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                });
            })
            .catch(error => {
                console.error('Erro ao buscar alunos:', error);
            });
    </script>

    <!-- Bootstrap JS Bundle (inclui Popper) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
